body {
  margin: 0 auto;
  margin-top: 25px;
  display: block;
  width: 1280px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  background-color: #fcfcfc;
}

svg {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
  width: 100%;
  margin: 5px auto;
  background-color: #fff;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

a {
  text-decoration: none;
  color: #272626;
  font-weight: 600;
  font-size: 22px;
}

.menu {
  width: 210px;
  margin: 0 34px 0 0;
  float: left;
  padding: 0;
}

#visualization {
  width: 1036px;
  height: 738px;
  float: left;
}

div.logo {
  margin: 0;
  height: 111px;
  background-color: #272626;
  color: #fff;
  border-top-left-radius: 20px;
}

.logo h1 {
  margin: 0;
  text-align: center;
  font-size: 40px;
  padding: 5px;
  font-family: 'Dosis', sans-serif;
}

.logo h3 {
  margin: 0;
  padding: 2px;
  font-size: 13px;
  text-align: center;
  font-weight: 300;
}


.vis-selector li {
  border-top: 2px solid #57b4c9;
  border-bottom: 2px solid #57b4c9;
}

.vis-selector li:hover {
  background-color: #57b4c9;
}

.vis-selector li:first-child {
  margin-top: 28px;
}

li.vis-selected {
  background-color: #57b4c9;
}

.nav li {
  border-top: 2px solid #cb7d9f;
  border-bottom: 2px solid #cb7d9f;
}

.nav li:hover {
  background-color: #cb7d9f;
}

.nav li:first-child {
  margin-top: 45px;
}
