body {
  margin: 0 auto;
  margin-top: 25px;
  display: block;
  width: 1366px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}

svg {
  display: block;
  margin: 0 auto;
}

text.header {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  fill: #272626;
  font-weight: 600;
}

text.info {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  fill: #272626;
  font-weight: 300;
}

line.highlight-division {
  stroke-width: 0.5;
  stroke: #999;
}

circle.movies-ranking {
  /* fill: #67a338; */
  fill: #cb7d9f;
}

circle:hover {
  cursor: pointer;
}

rect#lightbox:hover {
  cursor: pointer;
}

text#close:hover {
    cursor: pointer;
}
