* {
  margin: 0;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

body {
  margin: 0 auto;
  display: block;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  color: white;
}

#container {
  position: relative;
}

div.visualization {
  margin: 0 auto;
  width: 90%;
  position: relative;
}

svg {
  display: block;
  margin: 0 auto;
}

div#word-cloud {
  position: absolute;
  top: 32%;
  height: 35%;
  width: 20%;
  left: 4.5%;
}

div.menu-container {
  width: 100%;
  background-color: #333;
}

nav.menu {
  width: 90%;
  margin: 0 auto;
  height: 60px;
}

div.vis-selector {
  height: 60px;
  margin: 0;
}

div.vis-selector h1 {
  font-family: 'Dosis', sans-serif;
  font-weight: 200;
  margin: 0;
  font-size: 30px;
  line-height: 60px;
  display: block;
  float: left;
  margin-right: 50px;
}

div.vis-selector a {
  display: block;
  float: left;
  font-size: 12px;
  line-height: 60px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  padding: 0 10px;
}

div.vis-selector a.nav:hover {
  box-sizing: border-box;
  line-height: 52px;
  border-bottom: 8px solid #dd1924;
}

div.vis-selector a.selected-vis {
  box-sizing: border-box;
  line-height: 52px;
  border-bottom: 8px solid #dd1924;
}

div.vis-selector a:last-child {
  float: right;
}

text.title, text.title-description, p.uf {
  font-family: "Raleway", sans-serif;
}

text.bold, p.bold {
  font-weight: bold;
}

text.light {
  font-weight: normal;
}

text.header {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  fill: #272626;
  font-weight: 600;
}

text.info {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  fill: #272626;
  font-weight: 300;
}

line.highlight-division {
  stroke-width: 0.5;
  stroke: #999;
}

text.month, text.year, text.year-selector, p.uf, text.title, text.subtitle, text.title-description, text.graph-description {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

circle.movies-ranking {
  /* fill: #67a338; */
  fill: #cb7d9f;
}

circle:hover, rect.month, rect#lightbox:hover,
text#close:hover, text.month, text.year, text.year-selector,
rect.country-bar, path.country-path, p.uf, path.dropdown,
rect.menu-dropdown, text.menu-dropdown {
  cursor: pointer;
}
